<!-- begin box -->
<h2 class="hl-box" id="description">
  <i class="fa fa-chevron-right left"></i>
  Bundesligatabelle
  <i class="fa fa-chevron-left right"></i>
</h2>
<div class="box-lg">
  <form class="form-inline" role="form">
    <label class="control-label" for="saison">Bitte eine Liga auswählen: </label>
    <select class="form-control" id="saison" ng-change="selectedLiga()" ng-model="liga" ng-options="el.name for el in ligen">
      <option value="">Bitte Saison wählen!</option>
    </select>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="2">Verein</th>
        <th>Spieltage</th>
        <th>Gewonnen</th>
        <th>Unentsch.</th>
        <th>Verloren</th>
        <th>Tore</th>
        <th>Diff.</th>
        <th>Punkte</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in table">
        <td style="text-align: right">{{ $index + 1 }}.</td>
        <td>{{ row.name }}</td>
        <td>{{ row.spieltage }}</td>
        <td>{{ row.gewonnen }}</td>
        <td>{{ row.unentschieden }}</td>
        <td>{{ row.verloren }}</td>
        <td>{{ row.tore }}:{{ row.gegentore }}</td>
        <td>{{ row.diff }}</td>
        <td>{{ row.punkte }}</td>
      </tr>
    </tbody>
  </table>
  <div ng-show="query">
    <h3>SQL <i title="Klicken zum Expandieren" ng-class="queryExpanded ? 'fa-chevron-up' : 'fa-chevron-down'" class="fa" ng-click="queryExpanded = !queryExpanded"></i></h3>
    <div ng-show="queryExpanded" sql-view sql="query"></div>
  </div>
</div>
<!-- end box -->