@import "/bower_components/bootstrap/less/bootstrap.less";

// Colors
@brand-primary: #8FD36E;
@brand-secondary: darken(@brand-primary, 15%);
@brand-ternary: darken(@brand-primary, 30%);
@body-bg: #fbfbfb;
@font-color-header: #ffffff;

@box-background: lighten(@body-bg, 5%);
@box-hl-shadow: #ffffff;
@box-shadow-color: lighten(@brand-primary, 10%);
@box-border-color: @brand-primary;

@affix-unselected: #c0c0c0;
@affix-selected: @brand-secondary;

// Fonts
@main-font: cabin, sans-serif;
@header-font: lobster, serif;

// Font-Sizes
@fs-base: 16px;
@fs-hl-box: round(@fs-base * 1.75);
@font-size-header: round(@fs-base * 3.75);
@fs-affix: round(@fs-base * 1.25);
@logo-size: round(@font-size-header * 0.75);


// Text shadow offsets
@header-text-shadow: (@font-size-header * 0.05);
@box-hl-shadow-offset: 1px;


// Overrides
@btn-primary-color: @brand-ternary;
@btn-primary-border: @brand-secondary;
@input-border-focus: @brand-ternary;

@nav-link-hover-bg: transparent;
@nav-pills-active-link-hover-bg: transparent;
@nav-pills-active-link-hover-color: @affix-selected;

@link-color: @brand-ternary;

body{
  background-color: @body-bg;
  font-family: @main-font;
  font-size: @fs-base;
}

.header{
  background-color: @brand-primary;
  padding: 0px;
  margin-bottom:60px;

  .bar{
    background-color: @brand-secondary;
    width:100%;

    h1{
      font-family: @header-font;
      font-size: @font-size-header;
      text-shadow: @header-text-shadow @header-text-shadow 0px @brand-ternary;
      color: @font-color-header;
      margin: 0px;

      a{
        text-decoration:none;
        color:@font-color-header;
      }
    }

    .logo{
      font-size: @logo-size;
    }

  }

  .navbar{
    padding: 0px;
    margin: 0px;

    a:hover, a:active{
      background-color: @brand-secondary;
    }
  }
}

.box-lg{
  background-color: @box-background;
  border:1px solid @box-border-color;
  box-shadow: 1px 0px 3px @box-shadow-color;
  padding:5px 10px 5px 10px;
  margin-bottom:50px;
}

.hl-box{

  color: @brand-secondary;
  text-shadow: @box-hl-shadow-offset @box-hl-shadow-offset 0px @box-hl-shadow;
  font-size: @fs-hl-box;
  padding: 0;
  margin: 0px 0px 5px 0px;

  .left, .right{
    color: @brand-ternary;
    font-size:20px;
  }

  .left{
    margin-right:5px;
  }

  .right{
    margin-left:5px;
  }
}

.navigation{

  border-left: 3px solid @affix-unselected;
  font-size: @fs-affix;

  li{
    margin-top: 0px !important;

    a{
      color: @affix-unselected;
    }
  }

  .active, li:hover{
    margin-left: -3px;
    border-left: 3px solid @affix-selected;
  }
}

.affix{
  .make-sm-column(2);
  padding-left:0px;
  position:fixed;
  top:10px;
}

label{
  font-weight:normal;
}

.hljs{
  background-color:transparent !important;
  padding: 0px;
  margin: 0px;
}

.result{
  color: @brand-secondary;
  font-weight:bold;
}
