<!DOCTYPE html>
<html lang="en" ng-app="kickass">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KickAss</title>
  <script src="//use.edgefonts.net/lobster.js"></script>
  <script src="//use.edgefonts.net/cabin.js"></script>
  <link href="bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="bower_components/highlightjs/styles/default.css">
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
  <link href="css/main.css" rel="stylesheet">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 header">
        <div class="bar">
          <h1>
            <a href="/">
              <span class="fa-stack logo">
                <i class="fa fa-circle-o fa-stack-2x"></i>
                <i class="fa fa-trophy fa-stack-1x"></i>
              </span>
              KickAss
            </a>
          </h1>
        </div>
        <div class="container-fluid" id="navheader">
          <nav class="collapse navbar-collapse navbar" role="navigation">
            <ul class="nav navbar-nav">
              <li>
                <a ui-sref="initial">Informationen zu Spielen</a>
              </li>
              <li>
                <a href="#sec">Informationen zu Spielern</a>
              </li>
              <li>
                <a href="#sec">Informationen zu Vereinen</a>
              </li>
              <li ui-sref-active="active"><a ui-sref="documentation">Dokumentation</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2" id="leftCol" ui-view="nav">

      </div>
      <div class="col-sm-9 col-sm-offset-1">
        <div ui-view="main"></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<script src="js/min/compiled.js"></script>
<script>
    angular.module('kickass').constant('BASE_URL', '{{ baseUrl() }}');
</script>
</body>
</html>
