<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KickAss</title>
  <script src="//use.edgefonts.net/lobster.js"></script>
  <script src="//use.edgefonts.net/cabin.js"></script>
  <link href="bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="bower_components/highlightjs/styles/default.css">
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
  <link href="css/main.css" rel="stylesheet">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 header">
        <div class="bar">
          <h1>
            <a href="/">
              <span class="fa-stack logo">
                <i class="fa fa-circle-o fa-stack-2x"></i>
                <i class="fa fa-trophy fa-stack-1x"></i>
              </span>
              KickAss
            </a>
          </h1>
        </div>
        <div class="container-fluid" id="navheader">
          <nav class="collapse navbar-collapse navbar" role="navigation">
            <ul class="nav navbar-nav">
              <li>
                <a href="#sec">Informationen zu Spielen</a>
              </li>
              <li>
                <a href="#sec">Informationen zu Spielern</a>
              </li>
              <li>
                <a href="#sec">Informationen zu Vereinen</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2" id="leftCol">
        <ul class="nav nav-pills nav-stacked navigation" id="sidebar">
          <li class="active">
            <a href="#description">Beschreibung</a>
          </li>
          <li>
            <a href="#firstgame">Erstes Spiel der Saison</a>
          </li>
          <li>
            <a href="#word">Auf ein Wort</a>
          </li>
          <li >
            <a href="#gametime">Spiele nach Zeit</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-1">

        <!-- begin box -->
        <h2 class="hl-box" id="description">
          <i class="fa fa-chevron-right left"></i>
          Beschreibung
          <i class="fa fa-chevron-left right"></i>
        </h2>
        <div class="box-lg">
          <p>
            Diese Boxen lassen sich gut zur Beschreibung des aktuellen Queries bzw. der Ansicht nutzen.
            Allgemein sollten alle Elemente in solchen Boxen mit einer passenden Überschrift und einer aussagekräftigen ID für die Sidebar links) organisiert sein.
          </p>
          <p>
            Beispiel:
          </p>
        </div>
        <!-- end box -->

        <!-- begin box -->
        <h2 class="hl-box" id="firstgame">
          <i class="fa fa-chevron-right left"></i>
          Das erste Spiel der Saison
          <i class="fa fa-chevron-left right"></i>
        </h2>
        <div class="box-lg">
          <h3>An welchem Tag fand das erste Spiel der Saison statt?</h3>
          <form class="form-inline" role="form">
            <label class="control-label" for="saison">Bitte eine Saison auswählen: </label>
            <select class="form-control" id="saison">
              <option>Saison 2010/11</option>
              <option>Saison 2011/12</option>
              <option>Saison 2012/13</option>
              <option>Saison 2013/14</option>
            </select>
            <button class="btn btn-primary" type="submit">Ausführen</button>
          </form>
          <h3>SQL</h3>
          <pre><code>
SELECT anpfiff_datum FROM Spiel AS sp, Saison AS s WHERE sp.saison_id = s.id AND s.name = '2010/11' ORDER BY anpfiff_datum ASC LIMIT 1
          </code></pre>
          <h3>Antwort</h3>
          Das erste Spiel in der Saison hat am <span class="result">20.08.2010</span> stattgefunden.
        </div>
        <!-- end box -->

        <!-- begin box -->
        <h2 class="hl-box" id="word">
          <i class="fa fa-chevron-right left"></i>
          Auf ein Wort
          <i class="fa fa-chevron-left right"></i>
        </h2>
        <div class="box-lg">
          <p>
            Das Beispiel zeigt den kompletten Ablauf, d.h. nachdem bereits eine Saison ausgewählt wurde und die Anfrage ausgeführt wurde. Initial ist natürlich nur der Teil mit dem Formular mit der Auswahlmöglichkeiten sichtbar.
          </p>
          <p>
            Das obige Beispiel liefert als Ergebnis nur einen einzigen Wert, die Präsentation der Antwort als Satz liegt also nahe. Allerdings liefern viele Abfragen auch eine Tabelle von Werten:
          </p>
        </div>
        <!-- end box -->

      <!-- begin box -->
      <h2 class="hl-box" id="gametime">
        <i class="fa fa-chevron-right left"></i>
        Spiele nach Zeit
        <i class="fa fa-chevron-left right"></i>
      </h2>
      <div class="box-lg">
        <h3>Alle Spiele, die am ersten Spieltag einer Saison stattgefunden haben</h3>
        <form class="form-inline" role="form">
          <label class="control-label" for="saison">Bitte eine Saison auswählen: </label>
          <select class="form-control" id="saison">
            <option>Saison 2010/11</option>
            <option>Saison 2011/12</option>
            <option>Saison 2012/13</option>
            <option>Saison 2013/14</option>
          </select>
          <button class="btn btn-primary" type="submit">Ausführen</button>
        </form>
        <h3>SQL</h3>
        <pre><code>
# Das SQL-Query ist das selbe wie oben und somit natürlich quatsch ;)
SELECT anpfiff_datum FROM Spiel AS sp, Saison AS s WHERE sp.saison_id = s.id AND s.name = '2010/11' ORDER BY anpfiff_datum ASC LIMIT 1
        </code></pre>
        <h3>Antwort</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Liga</th>
              <th>Anpfiff</th>
              <th>Gastgeber</th>
              <th>Gast</th>
              <th>Ort</th>
              <th>Stadion</th>
              <th>Spieldauer</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>10.05.2014 18:15</td>
              <td>Hertha BSC</td>
              <td>Schalke 04</td>
              <td>Berlin</td>
              <td>Olympiastadion</td>
              <td>95</td>
            </tr>
            <tr>
              <td>1</td>
              <td>10.05.2014 22:10</td>
              <td>Hertha BSC</td>
              <td>Hannover 96</td>
              <td>Berlin</td>
              <td>Olympiastadion</td>
              <td>97</td>
            </tr>
            <tr>
              <td>1</td>
              <td>10.05.2014 17:35</td>
              <td>FC Bayern München</td>
              <td>Werder Bremen</td>
              <td>München</td>
              <td>Allianz Arena</td>
              <td>91</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end box -->

        <!-- more boxes -->
      </div>
    </div>
  </div>
</div>
</div>
</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/highlightjs/highlight.pack.js"></script>
<script src="js/main.js"></script>
</body>
</html>
